@page "/"
@*Level 1 Start*@
<ul class="kt-menu__nav ">
    @if (menuModel != null)
    {
        foreach (var FirstLevelMenuItems in menuModel.Where(x => x.ParentId == string.Empty))
        {
            //Level 1 data
            <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                    <span class="kt-menu__link-text"> @FirstLevelMenuItems.MenuName</span>
                    <i class="kt-menu__ver-arrow la la-angle-right">
                    </i>
                </a>

                @*Lelel 2 Start*@
                <div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                    <ul class="kt-menu__subnav">
                        @foreach (var SecondLevelMenuItems in menuModel.Where(y => y.ParentId == FirstLevelMenuItems.MenuId))
                        {
                            //Level 2 data
                            int ThiredLevelMenuItemsCount = menuModel.Where(y => y.ParentId == SecondLevelMenuItems.MenuId).Count();
                            <li class=@(ThiredLevelMenuItemsCount==0 ? "kt-menu__item" : "kt-menu__item  kt-menu__item--submenu") aria-haspopup="true" data-ktmenu-submenu-toggle=@(ThiredLevelMenuItemsCount==0 ?"hover" : "")>

                                <a href=@(ThiredLevelMenuItemsCount==0 ? "ComponentUrl" : "javascript:;") class=@(ThiredLevelMenuItemsCount==0 ? "kt-menu__link" :"kt-menu__link kt-menu__toggle")>
                                    <i class="kt-menu__link-icon @SecondLevelMenuItems.IconClass">
                                    </i>
                                    <span class="kt-menu__link-text">@SecondLevelMenuItems.MenuName</span>
                                    @if (ThiredLevelMenuItemsCount > 0)
                                    {
                                        <i class="kt-menu__hor-arrow la la-angle-right">
                                        </i>
                                        <i class="kt-menu__ver-arrow la la-angle-right">
                                        </i>
                                    }
                                </a>

                                @*Lelel 3 Start*@
                                @if (ThiredLevelMenuItemsCount > 0)
                                {
                                    <ul>
                                        @foreach (var ThirdLevelMenuItems in menuModel.Where(y => y.ParentId == SecondLevelMenuItems.MenuId))
                                        {
                                            //Level 3 data
                                            <li>
                                                @ThirdLevelMenuItems.MenuName

                                                @*Lelel 4 Start*@
                                                <ul>
                                                    @foreach (var ForthLevelMenuItems in menuModel.Where(y => y.ParentId == ThirdLevelMenuItems.MenuId))
                                                    {
                                                        //Level 4 data
                                                        <li>
                                                            @ForthLevelMenuItems.MenuName

                                                            @*Lelel 5 Start*@
                                                            <ul>
                                                                @foreach (var FifthLevelMenuItems in menuModel.Where(y => y.ParentId == ForthLevelMenuItems.MenuId))
                                                                {
                                                                    //Level 5 data
                                                                    <li>
                                                                        @FifthLevelMenuItems.MenuName
                                                                    </li>
                                                                }
                                                            </ul>
                                                            @*Lelel 4 End*@
                                                        </li>
                                                    }
                                                </ul>
                                                @*Lelel 4 End*@
                                            </li>
                                        }
                                    </ul>
                                }
                                @*Lelel 3 End*@
                            </li>
                        }
                    </ul>
                </div>
                @*Lelel 2 End*@
            </li>
        }
    }
</ul>
@*Level 1 End*@


@code {
    List<MenuModel> menuModel;
    string tree;
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            menuModel = new List<MenuModel>();

            menuModel.Add(new MenuModel { MenuId = "1", MenuName = "Dashboard", ParentId = "" });
            menuModel.Add(new MenuModel { MenuId = "2", MenuName = "Default Dashboard", ParentId = "1", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "3", MenuName = "Fluid Dashboard", ParentId = "1", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "4", MenuName = "Aside Dashboard", ParentId = "1", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "5", MenuName = "Components", ParentId = "" });
            menuModel.Add(new MenuModel { MenuId = "6", MenuName = "Base", ParentId = "5", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "7", MenuName = "Custom", ParentId = "5", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "8", MenuName = "Extended", ParentId = "5", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "9", MenuName = "Icon", ParentId = "5", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "10", MenuName = "State Color", ParentId = "6", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "11", MenuName = "Typo Graphy", ParentId = "6", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "12", MenuName = "Badge", ParentId = "7", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "13", MenuName = "Navigation", ParentId = "7", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "14", MenuName = "Sticky Panel", ParentId = "8", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "15", MenuName = "Tree View", ParentId = "8", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "16", MenuName = "Flaticon", ParentId = "9", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "17", MenuName = "Horizontal", ParentId = "13", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "18", MenuName = "Vertical", ParentId = "13", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "19", MenuName = "Full width", ParentId = "17", IconClass = "flaticon2-rocket" });
            menuModel.Add(new MenuModel { MenuId = "20", MenuName = "Fluid type", ParentId = "17", IconClass = "flaticon2-rocket" });
            StateHasChanged();

            //await JSRuntime.InvokeVoidAsync("StartApp");
        }

    }

}